{{!< default}}

{{#author}}
<header class="site {{#if cover_image}}" style="background-image: url({{cover_image}}){{else}}no-cover{{/if}}">
	<div class="container">
		<section>
			{{#if profile_image}}
				<img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
			{{/if}}
			<h1>{{name}}</h1>
			{{#if bio}}
				<h2>{{bio}}</h2>
			{{/if}}
			<div class="author-meta">
				{{#if location}}
					<div class="author-location">{{location}} <span class="bull">&bull;</span></div>
				{{/if}}
				<div class="author-stats">
					{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} <span class="bull">&bull;</span>
				</div>
				{{#if website}}
					<a class="social-link social-link-wb" href="{{website}}" target="_blank" rel="noopener" title="Website">{{> "icons/website"}}</a>
				{{/if}}
				{{#if twitter}}
					<a class="social-link social-link-tw" href="{{twitter_url}}" target="_blank" rel="noopener" title="Twitter">{{> "icons/twitter"}}</a>
				{{/if}}
				{{#if facebook}}
					<a class="social-link social-link-fb" href="{{facebook_url}}" target="_blank" rel="noopener" title="Facebook">{{> "icons/facebook"}}</a>
				{{/if}}
				<a class="social-link social-link-rss" href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank" rel="noopener" title="RSS">{{> "icons/rss"}}</a>
			</div>
		</section>
	</div>
</header>
{{/author}}

<main class="site" role="main">
	<section class="post-list" itemScope itemType="http://schema.org/Blog">
		{{#foreach posts}}
			{{> "post-stub"}}
		{{/foreach}}
	</section>
</main>
