<!DOCTYPE html>
<html lang="{{lang}}">
<head>
	{{!-- Document Settings --}}
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	{{!-- Base Meta --}}
	<title>{{meta_title}}</title>
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	{{!-- Styles'n'Scripts --}}
	<link rel="stylesheet" type="text/css" href="{{asset "site.css"}}" />

	{{!-- This tag outputs SEO meta+structured data and other important settings --}}
	{{ghost_head}}
</head>
<body class="{{body_class}}">
	<div id="wrap">
		<nav class="site navbar navbar-default navbar-fixed-top">
			<section>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>

					<a href="{{@blog.url}}" class="navbar-brand">{{@blog.title}}</a>
				</div>

				{{#if @blog.navigation}}
					{{navigation}}
				{{/if}}
			</section>
		</nav>

		{{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
		{{{body}}}
	</div>

	<footer class="site">
		<section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
	</footer>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	{{{block "scripts"}}}

	{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
	{{ghost_foot}}
</body>
</html>
