{{!< default}}

{{#post}}

<header class="site {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
	<div class="container">
		<section>
			<h1>{{title}}</h1>
		</section>
	</div>
</header>

<main class="site" role="main">
	<article>
		<section class="page-content">
			{{content}}
		</section>
	</article>
</main>

{{/post}}

{{#contentFor "scripts"}}
<script src="{{asset "fitvids.min.js"}}"></script>
<script>
	fitvids();
</script>
{{/contentFor}}