{{!< default}}

{{#post}}

<header class="site {{#if feature_image}}" style="background-image: url({{feature_image}}){{else}}no-cover{{/if}}">
	<div class="container">
		<section>
			<h1>{{title}}</h1>
			<div class="post-meta">
				<time datetime="{{date format="YYYY-MM-DD"}}" itemProp="datePublished">
					Published on {{date format="MMMM DD, YYYY"}}
				</time>
				{{> "post-tags"}}
				<span class="reading-time">{{reading_time}}</span>
			</div>
		</section>
	</div>
</header>

<main class="site" role="main">
	<article itemScope itemType="http://schema.org/BlogPosting">
		<section class="post-content" itemProp="articleBody">
			{{content}}
		</section>

		<footer>
			<section class="share">
				<h4>Share this post</h4>
				<a class="social-link social-link-tw" href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" title="Twitter" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">{{> "icons/twitter"}}</a>
				<a class="social-link social-link-fb" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" title="Facebook" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">{{> "icons/facebook"}}</a>
				<a class="social-link social-link-hn" href="https://news.ycombinator.com/submitlink?u={{url absolute="true"}}&t={{title}}" title="Hacker News" onclick="window.open(this.href, 'hn-share', 'width=580,height=530');return false;">{{> "icons/hackernews"}}</a>
			</section>
		</footer>

		<div class="post-comments">
			<div id="disqus_thread"></div>
			<script>
				var disqus_config = function () {
					this.page.url = '{{url absolute="true"}}';
					this.page.identifier = 'ghost-{{comment_id}}';
				};
				(function() {
					var d = document, s = d.createElement('script');
					s.src = 'https://chadlynet.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
		</div>
	</article>
</main>

{{/post}}

{{#contentFor "scripts"}}
<script src="{{asset "fitvids.min.js"}}"></script>
<script>
	fitvids();
</script>
{{/contentFor}}