<span class="author-list">
	by
	{{#has author="count:>1"}}
		{{#has author="count:>2"}}
			{{#foreach authors}}
				{{#if @last}} & {{/if}}<a href="{{url}}">{{name}}</a>{{#unless @last}}, {{/unless}}
			{{/foreach}}
		{{else}}
			{{#foreach authors}}
				<a href="{{url}}">{{name}}</a>{{#unless @last}} & {{/unless}}
			{{/foreach}}
		{{/has}}
	{{else}}
		{{#primary_author}}
			<a href="{{url}}">{{name}}</a>
		{{/primary_author}}
	{{/has}}
</span>